{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card p-3">
    <h4>Confirm Delete</h4>
    <p>Are you sure you want to delete the egg production record for <strong>{{ object.flock.flock_id }}</strong> on
        <strong>{{ object.record_date }}</strong>?</p>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Confirm Delete</button>
        <a href="{% url 'eggproduction:staff-egg-list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}