html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    color: white;
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
